:root {
  --max-width: 550px;
  --back-color: rgb(83,114,157);
  --form-color: rgb(55,76,105);
  --text-color: rgb(255,255,255);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--back-color);
  color: var(--text-color);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

label {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  background-color: var(--form-color);
  text-align: left;
}

.first-label {
  padding-top: 2rem;
  display: block;
}

.other-label {
  padding-top: 1rem;
  display: block;
}

.form-field {
  margin-bottom: 0.4rem;
  padding: 0.3rem;
  width: 100%;
}

.radio-buttons {
  padding: 0.3rem;
}

.btn {
  display: block;
}

#description {
  font-size: 1.3rem;
}

#comments {
  width: 100%;
}

