:root {
  --max-width: 550px;
  --back-color: #53729d;
  --form-color: #374c69;
}

body {
  background-color: var(--back-color);
  color: #ffffff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

label {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  background-color: var(--form-color);
  text-align: left;
}

.first-label {
  padding-top: 2rem;
}

.other-label {
  padding-top: 1rem;
}

.form-group label {
  display: block;
}

.form-field {
  margin-bottom: 0.4rem;
  padding: 0.3rem;
  width: 100%;
}

#description {
  font-size: 1.3rem;
}


