/* Variables */
:root {
  --back-color: rgb(83,114,157);
  --back-color-opacity: rgb(83,114,157,0.6);
  --button-color: rgb(99,163,84);
  --form-color: rgb(55,76,105);
  --max-width: 550px;
  --text-color: rgb(255,255,255);
}

/* DOM elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--back-color);
  color: var(--text-color);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

label {
  padding: 0.2rem 0 0.4rem 0;
}

/* Main container */
.main-container {
  background: url('img/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg') center center/cover no-repeat;
  position: relative;
  z-index: -1;
}

.main-container::after {
  /* Last parameter is opacity */
  background-color: var(--back-color-opacity);
  /* content property is mandatory and you can put text in here */
  content: '';
  /* Create an overlay - put a colour before this element */
  /* Position absolute within here - note that the parent .hero position has to be relative for this absolute to work */
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Header */
.invitation {
  margin-bottom: 2rem;
  position: relative;
  top: 16px;
  z-index: 1;
}

/* Survey Form */
.surveyForm-container {
  background-color: var(--form-color);
  border-radius: 3px;
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  position: relative;
  text-align: left;
  z-index: 1;
}

.surveyForm-firstLabel {
  display: block;
  padding-top: 2rem;
}

.surveyForm-label {
  display: block;
  padding-top: 1rem;
}

.surveyForm-field {
  margin-bottom: 0.4rem;
  padding: 0.3rem;
  width: 100%;
}

.surveyForm-radioButtons {
  padding: 0.3rem;
}


.surveyForm-question {
  font-size: 1.3rem;
}

.surveyForm-textarea {
  width: 100%;
}

.surveyForm-submit {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem 0 4rem 0;
  padding: 0.5rem;
  width: 100%;
}